[submodule "src/pmbootstrap"]
	path = src/pmbootstrap
	url = https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git
[submodule "src/pmaports"]
	path = src/pmaports
	url = https://github.com/yasstox/pmaports-gtaxlwifi.git
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/yasstox/linux-exynos7870-gtaxlwifi.git
	branch = port/gtaxlwifi-6.19
[submodule "src/vendor-kernel"]
	path = src/vendor-kernel
	url = https://github.com/yasstox/Kernel_SM-T580_gtaxlwifi.git
